{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}

    <div class="page-market-place">

        <nav class="navbar navbar-default navbar-vip-market-place">
            <div class="container">
                <div class="vip-market-place-container">
                    <ol class="breadcrumb">
                        {% for category in product.category.all %}
                            <li><a href="{% url 'search' %}?category={{ category.slug }}" title="">{{ category.name }}</a></li>
                        {% endfor %}
                        <li><a href="" title="">{{ product.name }}</a></li>
                    </ol>

                    <div class="navbar-right vip-navigation-market-place">
                        <p>Ad #{{ product.id }}</p>
                    </div>

                </div>
            </div>
        </nav>

        <section class="section-header-market-place">
            <div class="container">
                <header>
                    <h1>{{ product.name }}</h1>

                    <p class="header-info-market-place">
                        <i class="fa fa-cart-plus"></i>{{ product.quantity }} quantidade em estoque
                    </p>
                </header>

                <section>
                    <!--IMAGENS-->
                    <div class="col-sm-6 section-img-market-place">

                        <div class="col-md-2 img-market-place-thumbnail" style="max-height: 300px; overflow-y: scroll;">

                            {% for image in product.prod_images.all %}
                                <img id="thumbnailML" src="{{ image.images }}" data-img="{{ image.images }}">

                            {% endfor %}


                        </div>

                        <div class="col-md-10">
                            {% if product.prod_images.first %}
                            <img id="boxThumbnailML" src="{{ product.prod_images.first.images }}">
                            {% else %}
                                <img id="boxThumbnailML" src="{% static 'img/01.jpg' %}">
                            {% endif %}
                        </div>

                    </div>


                    <!--FORM COMPRA-->
                    <div class="col-sm-6 section-header-form-market-place">

                        <form action="" method="get">
                            <fieldset>
                                <legend>Price</legend>
                                <div class="form-market-place-price">
                                    <strong>R$ {{ product.price }}</strong>
                                </div>
                            </fieldset>


                            <fieldset class="form-market-place-quantity-selection">
                                <legend>
                                    Quantity:
                                </legend>

                                <div class="col-md-2 first-input-market-place">
                                    <div class="form-group">
                                        <input class="form-control" name="quantity" type="number"
                                               title="Quantity" value="1">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-info">Buy</button>
                                    </div>
                                </div>

                            </fieldset>

                        </form>
                    </div>
                </section>

            </div>
        </section>

        <!--GARANTIA-->
        <section class="section-warranty-market-place">
            <div class="container">
                <header>
                    <h2>Warranty</h2>

                    <p class="header-info-market-place">
                        Here you can buy your favorite stuff without any worry
                    </p>
                </header>


                <article class="warranty-market-place-media">
                    <div class="col-md-12">
                        <div class="col-md-2 warranty-market-place-media-left">
                            <p>Purchase warranty</p>

                        </div>
                        <div class="col-md-10 warranty-market-place-media-body">
                            <div class="col-sx-12 col-md-12 warranty-market-place-media-content">
                                <div class="warranty-media-content-info">
                                    <p>Purchase Warranty: <br> Receive the product you want or we give back your money
                                    </p>
                                    <p><span>If there's any problem with the product you bought, we give back your money.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="warranty-salesman-market-place-media">
                    <div class="col-md-12 warranty-salesman-container">
                        <div class="col-md-2 warranty-salesman-market-place-media-left">
                            <p>
                                Salesman Warranty
                            </p>

                        </div>
                        <div class="col-md-10 warranty-salesman-market-place-media-body">
                            <div class="col-sx-12 col-md-12 warranty-salesman-market-place-media-content">
                                <p>6 month warranty for any kind of malfunction.</p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>

        <!--DESCRIÇÃO-->
        <section class="section-specs-market-place">
            <div class="container">
                <header>
                    <h2>Ad description</h2>
                </header>

                <article class="specs-market-place-media-info">

                    <p>{{ product.description }}</p>
                </article>
            </div>
        </section>

        <section class="section-questions-market-place">
            <div class="container">
                <header>
                    <h2>Questions to the salesman</h2>
                </header>

                <section class="section-questions-market-place-content">
                    {% if request.user.is_authenticated %}
                        <form class="questions-form" action="{% url 'product_new_question' product.id %}" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-info">Ask</button>
                        </form>
                    {% endif %}

                    <ul class="ml-questions-list">
                        {% for q in questions %}
                            <li>
                                <article class="ml-questions-list-question">
                                    <p><i class="fa fa-comment"></i> {{ q.question }}</p>
                                </article>
                                <article class="ml-questions-list-answer">
                                    {% for a in q.get_answers %}
                                        <p><i class="fa fa-comments"></i> {{ a.answer }}</p>
                                    {% endfor %}
                                </article>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
        </section>

    </div>
{% endblock %}








